<div class="comment-list container border p-5">
    <div class="heading">
        <h2>Comments(25)</h2>
    </div>
    <div class="comment-box p-3">
        <div>
            <div class="name">John Deo</div>
            <small class="updates text-danger text-center">LAST UPDATED - SEP 20, 2023</small>
        </div>
        <div class="mt-2">
            <small>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor debitis commodi blanditiis magnam. Architecto sint nam veritatis quas nihil illum temporibus omnis mollitia delectus dolor. Qui possimus numquam recusandae beatae!
            </small>
        </div>
        <div>
            <button  type="button" class="btn btn-link ">Reply</button>
            <button  type="button" class="btn btn-link">View Reply</button>
        </div>
    </div>
    <div class="comment-box p-3">
        <div>
            <div class="name">John Deo</div>
            <small class="updates text-danger text-center">LAST UPDATED - SEP 20, 2023</small>
        </div>
        <div class="mt-2">
            <small>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor debitis commodi blanditiis magnam. Architecto sint nam veritatis quas nihil illum temporibus omnis mollitia delectus dolor. Qui possimus numquam recusandae beatae!
            </small>
        </div>
        <div>
            <button  type="button" class="btn btn-link ">Reply</button>
            <button  type="button" class="btn btn-link">View Reply</button>
        </div>
    </div>
    <div class="comment-box p-3">
        <div>
            <div class="name">John Deo</div>
            <small class="updates text-danger text-center">LAST UPDATED - SEP 20, 2023</small>
        </div>
        <div class="mt-2">
            <small>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor debitis commodi blanditiis magnam. Architecto sint nam veritatis quas nihil illum temporibus omnis mollitia delectus dolor. Qui possimus numquam recusandae beatae!
            </small>
        </div>
        <div>
            <button  type="button" class="btn btn-link ">Reply</button>
            <button  type="button" class="btn btn-link">View Reply</button>
        </div>
    </div>
</div>